# Core Airbyte settings
AIRBYTE_ROLE=server

# Airbyte internal API and logging
AIRBYTE_URL=http://127.0.0.1:8001
LOG_LEVEL=INFO

# Database connection (set your own values)
DATABASE_URL=postgresql://airbyte:airbyte@postgres:5432/airbyte

# Required in most setups
TEMPORAL_HOST=temporal:7233
